// colors
$bgColor: #FF3E79;
$text: #1B1C21;
$menuHoverColor: #41F6D7;
$headingColor: #7E7E82;
$navHoverColor: #B8FFEC;
$backgroundColor: #F8F8F8;
$sidebarColor: #f4f4f4;

// fonts
$headingFont: TT-Lakes-Thin;
$boldFont: TT-Lakes-Bold;
$basicFont: TT-Lakes;

$marginDefault: 70px;


$breakpoint_large: 1440px;
$breakpoint_medium: 768px;
$breakpoint_small: 368px; 