
@import '/src/scss/imports/fonts.scss';
@import '/src/scss/imports/variables.scss';
@import '/src/scss/imports/mixins.scss';
@import '/src/scss/imports/media_breakpoints.scss';
@import '/node_modules/swiper/swiper-bundle.css';

body {
  padding: 0;
  margin: 0;
  font-family: TT-Lakes;
  background-color: $backgroundColor;
  overflow-x: hidden;
  display: flex;
}

.content {
  margin-left: 340px;
  display: flex;
  flex-direction: column;
  &.blurred {
    filter: blur(9px);
    transition: 0.4s;
  }
}
.section {
  display: flex;
  a {
    text-decoration: none;
    color: inherit;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: $boldFont;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 330px;
  background-color: $sidebarColor;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transform: translateX(0);
  transition: transform 0.3s ease;
  z-index: 1000;
  font-family: $basicFont;
  height: 100vh;
  color: #1B1C21;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 2px solid #e0e0e0;
  padding: 20px;
  font-size: 16px;
  &.hidden {
    transform: translateX(10px);   
  } 
  &-toggle {
    position: fixed;
    top: 30px;
    width: 40px;
    height: 40px;
    left: 30px;
    background-color: $bgColor;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    z-index: 1001;
  }
  &__header {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }

  &__contacts {
    display: flex;
    gap: 25px;
    flex-direction: column;
    

    &-phone {
      font-family: $boldFont;
      font-size: 24px;
    }
  }

  &__menu {
    padding-left: 20px;
    width: 270px;

    &-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 15;
        margin: 0;
        a {
          text-decoration: none;
          color: black;
        }
        li:hover {
          
          border-left: 4px solid $menuHoverColor;
          color: #7E7E82;
        }
    }

}
}

.mobile-heading {
  @include h2-style;
  margin-left: 10px;
  display: none;
}

.header {
  align-items: center;
  justify-content: center;
  padding-bottom: 0px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: 30px;
  @include h2-style;
  &__button-768, &__768 {
    display: none;
  }
  &__button {
    display: flex;
    gap: 40px;
    
      font-family: TT-Lakes;
      font-size: 16px;
      cursor: pointer;
      background-color: #F8F8F8;

      &-feedback, &-call {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 15px;
        background: none;
        border: none;
        font-family: $basicFont;
      }
  
  }
  &__button-768, &__logo-768 {
    display: none;
  }
}

.navbar {
  top: 100%;
  padding: 10px;
  margin-left: 30px;
  text-align: center;
  border-bottom: 1px solid #ddd;  
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 80px;
  &__item:hover {
    transition: 0.2s;
    border: 3px solid $navHoverColor;
  }
}
.readmore-icon.closed {
  transform: rotate(180deg);
}

.device-menu {
  margin-top: $marginDefault;
  @include heading-style;
    &__cards {
      @include templates;
      padding-top: 20px;
      &-hidden {
        display: none;
      }
    }
    &__show-all {
      display: flex;
      align-items: center;
      gap: 4px; 
      background-color: transparent; 
      border: none;                
      color: #333;                
      cursor: pointer;               
      font-size: 14px;               
      padding: 8px 16px;             
      font-family: TT Lakes-Regular;
    }
}

.brands__slider {
  padding: 30px 0px 70px 0px;
  &__wrapper {

  }
  &__slide {
    max-width: 250px;
  }
  &__image img {
    max-width: 100%;
  }
}
.brands-menu {
  margin-top: $marginDefault;
  @include heading-style;
  &__cards {
    @include templates;
    padding-top: 20px;
    &__hidden {
      display: none;
      
    }

  }
  &__show-all {
    display: flex;
    align-items: center;
    gap: 4px; 
    background-color: transparent; 
    border: none;                
    color: #333;                
    cursor: pointer;               
    font-size: 14px;               
    padding: 8px 16px;             
    font-family: TT Lakes-Regular;
  }

}

main {
  padding: 20px;
  min-height: calc(100vh - 100px);
}

.description {
  display: flex;
  gap: 20px;
  &__hidden-text {
    display: none;
  }
  &__text {
    flex: 1;
    font-size: 16px;
    max-width: 50%;
  }
  &__image img {
    float: right;
    max-width: 100%;
    height: auto;
  }

  &__readmore {
    display: flex;
    align-items: center;
    gap: 4px; 
    background-color: transparent; 
    border: none;                
    color: #333;                
    cursor: pointer;               
    font-size: 14px;               
    padding: 8px 16px;             
    font-family: TT Lakes-Regular;
  }
}
.description__hidden-text.hidden {
  display: block;
}

.service-table {
  margin-top: $marginDefault;
  border-collapse: collapse;
  font-family: $basicFont;

  &__header,
  &__row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;

    &:last-child {
      border-bottom: none;
    }
  }

  &__header {
    font-weight: bold;
    color: #666;
  }

  &__row {
    align-items: center;
  }

  &__column {
    flex: 1;
    text-align: left;
    padding: 5px;

    &:nth-child(2) {
      text-align: center;
    }

    &:nth-child(4) {
      text-align: right; 
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bgColor;
    color: #fff;
    border: none;
    border-radius: 40px;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #c81651; 
    }

    &-icon {
      width: 16px;
      height: 16px;
      margin-right: 8px;
      fill: #fff;
    }
  }
}
.btn-commercial {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #333; 
  text-decoration: none; 
  transition: color 0.3s ease;

  span {
    margin-left: 5px; 
    color: #9e1945; 
    transition: margin-left 0.3s ease;
  }

  &:hover {
    color: #9e1945;

    span {
      margin-left: 8px;
    }
  }
}

footer {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popup__feedback {
  display: none;
  height: 100vh;
  background-color: white;
  gap: 40px;
  padding-left: 20px;
  overflow-x: hidden;
  &-submit { 
    color: white;
    background-color: $bgColor;
    height: 32px;
    width: 136px;
    border-radius: 30px;
    margin-left: auto;
    font-family: $boldFont;

  }
  &-close {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    
  }
  &-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    span {
      color: $bgColor;
    }
    
  }
}
.popup__call {
  display: none;
  height: 100vh;
  background-color: white ;
  gap: 40px;
  padding-left: 20px;
  span {
    color: $bgColor;
  }
  &-submit {
    color: white;
    background-color: $bgColor;
    height: 32px;
    width: 136px;
    border-radius: 30px;
    margin-left: auto;
    font-family: $boldFont;

  }
  &-close {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 20px; 
  }

}

.popup-input {
  height: 48px;
  width: 376px;
  font-family: $basicFont;
  color: black;
  :active {
    border: none;
  }
}

.popup-input-text {
  height: 118px;
  width: 376px;
}

.popup__feedback.show {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  right: 0;
  width: 450px;
  gap: 30px;
}

.popup-heading {
  font-family: $boldFont;
  border-left: 6px solid $menuHoverColor;
}

.popup__call.show {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  right: 0;
  width: 450px;
}

.section.blurred {
  filter: blur(9px);
  transition: 0.4s;
}

.section {
  transition: 0.4s;
}
.swipers {
  @include heading-style;
  display: flex;
  flex-direction: column;
  gap: 30px;
  display: none;
}
.swiper {
  padding-top: 20px;
  padding-bottom: 20pxр;
  width: 250px;
  height: auto;
  margin: 0;
  
}


@include tablet {
  .content {
    width: 100vw;
    margin: 0;
  }
  .header {
    background-color: $sidebarColor;
    border: none;
    &__button {
      display: none;
    }
    
  .mobile-heading {
    display: block;
  }
  
  .description {
    flex-direction: row;
  }

  .navbar {
      overflow-x: auto;
      height: auto;
    }
    h2 {
      display: none;
    }
    &__button-768, &__768 {
      justify-content: center;
      display: flex;
      gap: 15px;
    }
    &__logo-768 {
      display: block;
      margin-left: 30px;
    }
    span {
      display: none;
    }
  }
  .sidebar {
    transform: translateX(-100%);
    &-toggle {
      display: block;
    }
  }
  .description {
    &__image {
      width: 50vw;
    }
  }
  .device-menu {
    &__cards {
      @include tablet_templates
    } 
  }

  .brands-menu {
    &__cards {
      @include tablet_templates
    }
  }

  .service-table {
    width: 100vw;
  }
}

@include mobile {
  body {
    width: 100vw;
  }
  .content{
    margin: 0;
  }
  .header {
    padding-left: 60px;
  }
  .description {
    display: flex;
    flex-direction: column;
    &__text {
      max-width: 100%;
      font-size: 14px;
    }
    &__image {
      width: 100vw;
    }
  }
  .sidebar {
    transform: translate(-100%);
    width: 100vw;
    margin: 0;
    &-toggle {
      display: block;
    }
  }
  .device-menu, .brands-menu, .service-table, .brands-menu__show-all, .table-comment {
    display: none;
  }

  .swipers {
    display: block;
  }
}

